<header>
  <ul class="flex justify-around bg-gray-800 text-white p-4">
    <li><a href="/" class="hover:text-blue-300">Home</a></li>
    <li><a href="/cars" class="hover:text-blue-300">Cars</a></li>
    <li><a href="/car-form" class="hover:text-blue-300">Add Car</a></li>
    <li><a href="/login-form" class="hover:text-blue-300">Login</a></li>
    <!-- <li><a href="/car-form" class="hover:text-blue-300">Register</a></li> -->
  </ul>
</header>
